* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

header img {
    margin-left: 4rem;
}

header nav {
    margin: 0.5rem;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

main .headline {
    background-color: #333333;
}

main .headline .row {
    width: 50%;
    margin: 0 auto;
    display: flex;
}

main .headline .row section {
    width: 50%;
    height: 15vh;
}

main .headline .row section:first-child {
    padding: 2.5rem;
}

main .headline .row section h2 {
    color: #F4CE14;
}

main .headline .row section sub,
main .headline .row section p {
    color: #FFFFFF;
}

main .headline .row section button {
    background-color: #F4CE14;
    padding: 0.7rem;
    border-radius: 20px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

main .headline .row section img {
    margin-top: 50px;
    border-radius: 20px;
}

main .top-specials {
    padding: 3rem 1rem;
}

main .top-specials .special-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

main .top-specials .special-list .special-item {
    background-color: rgba(51, 51, 51, 0.4);
    width: 150px;
    padding: 0 1rem 1rem 1rem;
    border-radius: 2rem;
}

main .top-specials .special-list .special-item img {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
}

main .top-specials .special-list .special-item .price {
    color: #F4CE14;
    text-decoration: underline;
    font-weight: bold;
}

main .testimony {
    width: 100%;
    background-color: rgba(41, 41, 41, 0.2);
    padding: 1.5rem;
}

main .testimony h3 {
    text-align: center;
}

main .testimony .testimony-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

main .testimony .testimony-list .test-item {
    width: 170px;
    height: 170px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    padding: 0.6rem;
}

main .testimony .testimony-list .test-item p {
    text-align: justify;
    margin-top: 15px;
}

main .about-section {
    padding: 1rem 2rem;
    display: flex;
    width: 85%;
    margin: 0 auto;
}

main .about-section section {
    width: 50%;
    text-align: justify;
    padding: 1rem;
}

main .about-section section img {
    position: relative;
}

main .about-section section img:last-child {
    z-index: 2;
}